body {
  background: #eeeae3;
  color: #232323;
  font-size: 16px;
  line-height: 1.2em;
  font-family: 'montserrat', Arial, sans-serif;
}
h1,h2,h3,h4,h5 {
  margin: 0 0 15px 0;
  font-family: 'montserrat_bold', Arial, sans-serif;
  font-weight: bold;
}
a {
  color: #1f7f5c;
  text-decoration: none;
}
a:hover {
  color: #28545b;
}

/* Menus. */
.main-menu,
.secondary-menu {
  background: #232323;
  padding-left: 0;
  margin: 0 0 15px 0;
  list-style: none;
  li {
    float: left;
    height: 61px;
    line-height: 61px;
  }
  a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0 23px;
    &:hover,
    &.active {
      background: #28545b;
    }
  }
}
.secondary-menu {
  background: #1f7f5c;
  a.active,
  a:hover {
    background: #19664a;
  }
}

/* Search block. */
.search-block-form {
  .form-text {
    background: #28545b;
    border: none;
    color: #fff;
    font-family: 'montserrat', Arial, sans-serif;
    font-size: 16px;
    height: 53px;
    line-height: 1em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px #28545b;
      background: #fff;
      color: #204246;
    }
  }
  .form-submit {
    background: #204246;
    height: 53px;
    width: 53px;
    border: none;
    text-indent: 100px;
    overflow: hidden;
  }
}
